/* ------------------------------------------------------------ *\
	Error
\* ------------------------------------------------------------ */

.error {
  display: none;
  text-align: center;
  padding: 10% 0;  

  h2 {
    color: red;
  }
}