/* ------------------------------------------------------------ *\
	Form
\* ------------------------------------------------------------ */

& ::-webkit-input-placeholder {
	color: $color-white;
}

& :-moz-placeholder { /* Firefox 18- */
	color: $color-white;  
}

& ::-moz-placeholder {  /* Firefox 19+ */
	color: $color-white;  
}

& :-ms-input-placeholder {  
	color: $color-white;  
}