/* ------------------------------------------------------------ *\
	header
\* ------------------------------------------------------------ */

.page-title {
	padding: 0 0 20px;
	margin: 0 0 20px;
	border-bottom: 3px solid $base-color;
}