/* ------------------------------------------------------------ *\
	Mixins
\* ------------------------------------------------------------ */

@mixin title-style {
	text-align: center; 
	text-transform: uppercase;
	position: relative; 
	color: $font-color;
	padding-bottom: 20px;

	:before {
		content: '';
		position: absolute; 
		bottom: 0;
		left: 50%;
		margin-left: -43px;
		width: 86px;
		height: 3px;
		background-color: #dfe8ed;    
	} 
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin desktop-sm {
  @media (max-width: #{$desktop-sm-width}) {
    @content;
  }
}

@mixin tablet-lg {
  @media (max-width: #{$tablet-lg-width}) {
    @content;
  }
}

@mixin tablet-sm {
  @media (max-width: #{$tablet-sm-width}) {
    @content;
  }
}

@mixin mobile-lg {
  @media (max-width: #{$tablet-sm-width - 1px}) {
    @content;
  }
}

@mixin mobile-sm {
  @media (max-width: #{$mobile-sm-width}) {
    @content;
  }
}

@mixin retina {
  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}